<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeboard">

	<select id="selectlist" resultType="NoticeBoardDto">
		SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_WRITER, NOTICE_CONTENT, NOTICE_REGDATE, NOTICE_DELFLAG
		FROM DONCAR_NOTICE
		<where>
			<if test="notice_content != null and notice_content !=''">
				NOTICE_CONTENT LIKE '%'||${notice_content}||'%' AND
			</if>
			<if test="notice_title != null and notice_title != ''">
				NOTICE_TITLE LIKE '%'||${notice_title}||'%' AND
			</if>
			<if test="notice_writer != null and notice_writer !=''">
				NOTICE_WRITER LIKE '%'||${notice_writer}||'%' AND
			</if>

			NOTICE_DELFLAG = 'N'
		</where>
		ORDER BY NOTICE_NO DESC
	</select>
	
	<select id="selectone" parameterType="int" resultType="NoticeBoardDto">
		SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_WRITER, NOTICE_CONTENT, NOTICE_REGDATE, NOTICE_DELFLAG
		FROM DONCAR_NOTICE
		WHERE NOTICE_NO = #{notice_no}
	</select>
	
	<insert id="insert" parameterType="NoticeBoardDto">
		INSERT INTO DONCAR_NOTICE
		VALUES(DONCAR_NOTICE_SEQ.NEXTVAL, #{notice_title}, #{notice_writer}, #{notice_content}, SYSDATE, 'N')
	</insert>
	
	<update id="update" parameterType="NoticeBoardDto">
		UPDATE DONCAR_NOTICE
		SET NOTICE_TITLE = #{notice_title}, NOTICE_CONTENT = #{notice_content}
		WHERE NOTICE_NO = #{notice_no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM DONCAR_NOTICE
		WHERE NOTICE_NO = #{notice_no}
	</delete>
	

</mapper>